# Node modules
node_modules/
.pnpm/
.pnpm-debug.log

# Directorios de construcción
dist/
build/
.vite/
.vscode/

# Dependencias de Vite
.vite/deps/

# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Cache de TypeScript
*.tsbuildinfo

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db
